.table-wrapper {
  font-family: 'Theinhardt', sans-serif;
  font-size: 0.875rem;
  line-height: 1.4;
  margin-left: auto;
  margin-right: auto;
  overflow-x: auto;
}

.orderHistoryTable {
  width: 100%;
}

.orderCard {
  width: 18rem;
}

.addressSection {
  display: flex;
  flex-direction: column;
}

.addressSection p {
  margin-bottom: 0.5rem;
}

@media (max-width: 767px) {
  .table-wrapper {
    max-width: 100%;
  }

  .orderHistoryTable {
    font-size: 0.75rem;
  }

  .orderCard {
    width: 100%;
  }
}
.tableWrapper{
  margin-top: 5rem;
  margin-left: 2rem;
}
@media (max-width: 767px) {
  .orderCard {
    width: 100%;
  }

}
.imgcircle{
  margin-left: 14rem;
  margin-top: -4rem;
}
@media (max-width: 598px) {
  .imgcircle{
    margin-left: 22rem;
    margin-top: -4rem;
  }
}

.sliderContainer {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 20px;
}

.card {

  display: flex;
  flex-direction: column;
  width: 16rem;
  margin-left: 1.2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color:#fff;
  height: 400px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(196, 38, 38, 0.878);
  
}

.control-btn button {
  background: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 3px 6px rgb(0 0 0 / 16%);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  padding: 2px;
}

.control-btn .next {
  position: absolute;
  top: 40%;
  right: 20px;
}

.control-btn .prev {
  position: absolute;
  top: 40%;
  left: 20px;
  z-index: 99;
}
.control-btn .icon {
  font-size: 25px;
}
.imges{
  width: 100%;
  height: 15rem;
}
@media (max-width: 598px) {
  .tableWrapper {
    margin-top: 0rem;
    width:27rem;
    margin-left: -13.6rem;
  }
  .imges{
    width: 15rem;
    height: 15rem;
  }

}
/* Styles for the modal overlay */
.address-modal-overlay {
  /* Position and visibility */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Styles for the modal content */
.address-modal {
  /* Position and size */
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  max-width: 80%;
  max-height: 80%;
  overflow-y: auto;
  padding: 20px;
  border-radius: 5px;
}

/* Media query for smaller screens */
@media (max-width: 600px) {
  .address-modal {
    max-width: 95%;
    max-height: 95%;
  }
}
.jjjj{
  /* width: 10rem; */
  width: 15rem;
  margin-left: 10rem;
  margin-top: 5rem;
  background-color: rgb(144, 184, 203);
}
.button {
  padding: 5px 10px;
  background-color: #be489e;
  color: #fff;
  border: none;
  /* margin-left: 10rem; */
  border-radius: 3px;
  cursor: pointer;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.modalContent {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.modalContent h2 {
  margin-top: 0;
}

.modalContent p {
  margin-bottom: 20px;
}

.closeButton {
  padding: 5px 10px;
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}