.dash-sidebar {
  margin: 0;
  padding: 0;
  width: 25%;
  background-color: #e60c0c;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.dash-sidebar a {
  display: block;
  color: white;
  padding: 16px;
  text-decoration: none;
}

.dash-sidebar a:hover {
  background-color: rgb(201, 99, 99);
  color: white;
}

.dash-content {
  background: yellowgreen;
  margin-left: 20%;
  padding: 10px;
}
