/* OrderHistory.module.css

.table-wrapper {
    font-family: 'Theinhardt', sans-serif;
    font-size: 0.875rem;
    line-height: 1.4;
    margin-left: auto;
    margin-right: auto;
    overflow-x: auto;
  }
  
  .orderHistoryTable {
    width: 100%;
  }
  
  @media (max-width: 767px) {
    .table-wrapper {
      max-width: 100%;
    }
  
    .orderHistoryTable {
      font-size: 0.75rem;
    }
  }
   */

   /* .table-wrapper {
    font-family: 'Theinhardt', sans-serif;
    font-size: 0.875rem;
    line-height: 1.4;
    margin-left: auto;
    margin-right: auto;
    overflow-x: auto;
  }
  
  .orderHistoryTable {
    width: 100%;
  }
  
  .orderCard {
    width: 18rem;
  }
  
  @media (max-width: 767px) {
    .table-wrapper {
      max-width: 100%;
    }
  
    .orderHistoryTable {
      font-size: 0.75rem;
    }
  
    .orderCard {
      width: 100%;
    }
  } */

  .table-wrapper {
    font-family: 'Theinhardt', sans-serif;
    font-size: 0.875rem;
    line-height: 1.4;
    margin-left: auto;
    margin-right: auto;
    overflow-x: auto;
  }
  
  .orderHistoryTable {
    width: 100%;
  }
  
  .orderCard {
    width: 18rem;
  }
  
  .addressSection {
    display: flex;
    flex-direction: column;
  }
  
  .addressSection p {
    margin-bottom: 0.5rem;
  }
  
  @media (max-width: 767px) {
    .table-wrapper {
      max-width: 100%;
    }
  
    .orderHistoryTable {
      font-size: 0.75rem;
    }
  
    .orderCard {
      width: 100%;
    }
  }
  .tableWrapper{
margin-left: 300px;
  
  }
  @media (max-width: 767px) {
    .orderCard {
      width: 100%;
    }
    .tableWrapper{
      margin-left: 0;
      width: 100%;
      overflow-x: scroll;
      
    }
    .responsive-table-container {
    overflow-x: auto;
    width: 100%;
  }
  }
  .imgcircle{
    margin-left: 14rem;
    margin-top: -4rem;
  }
  @media (max-width: 598px) {
    .imgcircle{
      margin-left: 22rem;
      margin-top: -4rem;
    }
  }
