.select {
  /* Your existing styles for the select element */

  /* Remove the default arrow icon */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

}
.select::-ms-expand {
  display: none;
}
.cartDiv{
  margin-bottom: 1rem;

  padding: 10px;
  box-shadow: 5px 5px #888888;
}

@media (max-width: 768px) {
  .hideprice {
      display: none;
  }
}
