.container {
  display: flex;
  flex-direction: row;
  box-shadow: 15px 6px 10px;
}

.redBox1 {
  /* background-color: #BF0A2A; */
  background: #bf0a2a;
  height: 300px;
  width: 50%;
  cursor: pointer;
  transition: width 2s;
}
.redBox {
  background-color: #bf0a2a;
  height: 300px;
  width: 50%;
  cursor: pointer;
  transition: width 2s;
}

.whiteBox {
  background-color: white;
  height: 300px;
  width: 50%;
  cursor: pointer;
}

.whiteBox :hover {
  font-weight: 900;
  /* font-size: 10rem; */
}

.text {
  font-weight: 900;
  font-size: 14rem;
}

.text1 {
  font-weight: 900;
  font-size: 14rem;
  color: white;
  margin-left: 25%;
}
.text2 {
  font-weight: 900;
  font-size: 14rem;
  color: #bf0a2a;
}
.text3 {
  font-weight: 900;
  font-size: 14rem;
  position: relative;
  color: #bf0a2a;
  float: right;
}
.text4 {
  font-weight: 900;
  font-size: 14rem;
  position: relative;
  left: auto;
  color: white;
  float: left;
  margin-right: 265px;
}

.text1Hover {
  font-weight: 900;
  font-size: 14rem;
  color: white;
  margin-top: -35px;
  transition: margin-top 1.5s;
  margin-left: 25%
}

.text2Hover {
  font-weight: 900;
  font-size: 14rem;
  color: #bf0a2a;
  margin-top: -35px;
  transition: margin-top 1.5s;
}
.text3Hover {
  font-weight: 900;
  font-size: 14rem;
  color: #bf0a2a;
  margin-top: -35px;
  transition: margin-top 1.5s;
margin-left: 48%
}
.text4Hover {
  font-weight: 900;
  font-size: 14rem;
  color: white;
  margin-top: -35px;
  margin-right: 250px;
  margin-left: -0px;
  transition: margin-top 1.5s;
  overflow: hidden;
}

.hovertext {
  font-weight: 900;
  font-size: 4rem;
  margin-left: 400px;
  top: 0;
  color: white;
  padding-bottom: 100px;
  line-height: 0px;
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.hover1text {
  font-weight: 900;
  font-size: 4rem;
  margin-left: 200px;
  top: 0;
  color: #bf0a2a;
  padding-bottom: 100px;
  line-height: 0px;
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.hover3text {
  font-weight: 900;
  font-size: 4rem;
  margin-left: 55%;
  top: 0;
  color: #bf0a2a;
  padding-bottom: 100px;
  line-height: 0px;
  right: 0;
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.hover4text {
  font-weight: 900;
  font-size: 4rem;
  margin-right: 320px;
  top: 0;
  color: white;
  padding-bottom: 100px;
  line-height: 0px;
  right: 0;
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.redText {
  color: #bf0a2a;
}

.whiteText {
  color: white;
}

.leftMargin {
  margin-left: 265px;
}

.rightMargin {
  margin-right: 315px;
}

.redBox1.hovered {
  height: 40px;
  transition: height 2s;
}
.redBox.hovered {
  height: 40px;
  transition: height 2s;
}

.whiteBox.hovered {
  height: 40px;
  transition: height 2s;
  display: block;
}
.whiteTextinner {
  text-align: center;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.whiteTextlast {
  position: absolute;
  left: auto;
  color: white;
}
.redTextlast {
  position: relative;
  right: auto;
  color: #bf0a2a;
  float: right;
}

/* 
///////////responsive\\\\\\\\\\\\\\\\\\\\\\ */

@media screen and (max-width: 800px) {
  .redBox {
    /* background-color: #BF0A2A; */
    background: #bf0a2a;

    height: 150px;
    width: 50%;
  }

  .whiteBox {
    height: 150px;
    width: 50%;
  }

  .text1 {
    font-weight: 900;
    font-size: 13rem;
    color: white;
    margin-left: 10%;
  }

  .text {
    font-weight: 900;
    font-size: 5rem;
  }

  .redText {
    color: #bf0a2a;
  }

  .whiteText {
    color: white;
  }

  .leftMargin {
    margin-left: 70px;
  }

  .rightMargin {
    margin-right: 315px;
  }

  .redTextlast {
    color: #bf0a2a;
  }
  .redBox1 {
    /* background-color: #BF0A2A; */
    background: #bf0a2a;

    height: 150px;
    width: 50%;
    cursor: pointer;
    transition: width 2s;
  }
  .text1 {
    font-weight: 900;
    font-size: 4rem;
    color: white;
  }
  .text2 {
    font-weight: 900;
    font-size: 4rem;
    color: #bf0a2a;
    margin-left: 10%;
  }
  .text3 {
    font-weight: 900;
    font-size: 4rem;
    color: #bf0a2a;
  }
  .text4 {
    font-weight: 900;
    font-size: 4rem;
    color: white;
  }
}
