

/* sellerOrder.module.css */
.tableContainer {
  /* overflow-x: auto; */
}

@media (max-width: 768px) {
  /* Adjust the breakpoint as needed */
  .tableContainer {
    width: 100%;
   
  }
  
  /* Adjust table styles for smaller screens */
  .table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
  
  .table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
  }
  
  /* Adjust table header and cells for smaller screens */
  .table th,
  .table td {
    white-space: nowrap;
  }
  
  .table th {
    display: table-cell;
    padding: 0.5rem;
    vertical-align: top;
    font-weight: bold;
  }
  
  .table td {
    display: table-cell;
    padding: 0.5rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
  }
  
  .table th,
  .table td {
    border-top: 1px solid #dee2e6;
  }
  
}

.selectStyle {
  width: 100%;  
   /* max-width: 150px; */
}
