.icon-hover:hover {
  border-color: #3b71ca !important;
  background-color: white !important;
}
.categggg {
  width: 250px;
  height: 400px;
  /* margin-left:-5rem; */
  margin-top: -25rem;
}

.tittt {
  white-space: nowrap;
  overflow: hidden;
}

.icon-hover:hover i {
  color: #3b71ca !important;
}

.paginateLabel {
  gap: 10px; /* Adjust the value as needed to add space */
}
/* pagination.css */

.pagination {
  display: flex;
  list-style: none;
  padding: 0;
}

.pagination li {
  margin: 0 5px;
}

.pagination li a {
  display: inline-block;
  padding: 10px 15px;
  background-color: #ee0505;
  color: #fff;
  border-radius: 10px;
  text-decoration: none;
}

.pagination li.active a {
  background-color: #e74c3c;
}

.pagination li a:hover {
  background-color: #a5aea3;
}

.card-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card img {
  height: 20rem;
  border-radius: 10px 10px 0 0;
}

.image-container {
  position: relative;
  display: inline-block;
}

.bg23 {
  /* background-color: aliceblue; */
  border-radius: 1rem;
}

.image-overlay {
  position: absolute;
  margin-top: 17rem;
  margin-left: 12rem;
  top: 0;
  left: 0;
  width: 1rem;
  height: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s;
}

.image-container:hover .image-overlay {
  opacity: 1;
}

.hover-image {
  display: block;
  width: 100%;
  height: 20rem;
  transition: transform 0.3s;
}

.image-container:hover .hover-image {
  transform: scale(0.8);
}

.card-img-top .hoverhai {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.1);
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.4s ease-in-out;
}

.sliderContainer {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 20px;
}
.control-btn button {
  background: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 3px 6px rgb(0 0 0 / 16%);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  padding: 2px;
}

.control-btn .next {
  position: absolute;
  top: 40%;
  right: 20px;
}

.control-btn .prev {
  position: absolute;
  top: 40%;
  left: 20px;
  z-index: 99;
}

.control-btn .icon {
  font-size: 25px;
}
.cardbody {
  width: 389px;
  height: 578px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

/* CSS module */

.pages a {
  color: black;
}
.pages li {
  color: black;
}

.pricefilterdiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* wish icon */

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0.3;
  transition: 0.3s ease;
  background-color: transparent;
}

.overlay:hover {
  opacity: 0.7;
}

.like {
  position: "absolute";
  bottom: 0;
  right: 0;
  margin: "5px";
  display: flex;
  justify-content: center;
  align-items: center;
}

.like_button {
  height: 30px;
  width: 33px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 2;
  padding: 3px;
  background-color: #fbfbf9;
  font-size: 25px;
  margin-top: 3px;
}

/* .like_button :hover {
  color: red;
} */
.loadingSpinner {
  margin-top: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagediv {
  position: relative;
}

.imagediv img {
  height: 320px;
  width: 305px;
  object-fit: "fill";
}

@media (max-width: 600px) {
  input[type="range"] {
    width: 80vw; /* Adjust the width as needed */
  }
  .categggg {
    width: 350px;
    height: 400px;
    margin-left: 0rem;
    margin-top: 0rem;
  }

  .imagediv {
    position: relative;
  }

  .imagediv img {
    height: 250px;
    width: 255px;
    object-fit: "cover";
  }
  .tittt {
    font-size: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
}

@font-face {
  font-family: lolita;
  src: url("../../Fonts/Lilita/LilitaOne-Regular.ttf");
}
.btn.active {
  background-color: #ff0000; /* Replace with your desired background color */
  color: black; /* Replace with your desired text color */
}
.sidebar {
  margin-left: 0rem;
}
