.main{
    width: 500px;
    height: 600px;
    border-color: aquamarine;
    background-image: url('https://thumbs.dreamstime.com/b/change-password-card-top-view-office-table-desktop-background-laptop-phone-glasses-pencil-inscription-internet-203236585.jpg');
}
.form{
    
}