.about {
  padding: 2rem;
  display: block;
  margin: 0 auto;
  width: 80%;
  margin-bottom: 6.5rem;
}

.heading1 {
  margin-top: 2.5rem;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
}

.cards-section {
  display: grid;
  grid-template-columns: repeat(2, 46%);
  gap: 10%;
}

.card .fp-cardtext {
  padding: 0;
}

.fp-cardtext > h3 {
  font-size: 20px;
}

.num {
  font-family: Roboto;
  font-style: normal;
  font-weight: 100;
  font-size: 64px;
  line-height: 75px;
  margin-top: 80px;
  color: #ffbf19;
}

.desc {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 21px;
  color: #9a9696;
}
.image {
  width: 100%;
  max-height: 300px; /* Adjust the max-height to your desired size */
  object-fit: cover; /* Maintain aspect ratio and crop if necessary */
  background: #f4f4f4;
  border-radius: 10px;
}

@media screen and (max-width: 768px) {
  .about {
    width: 90%;
  }

  .cards-section {
    grid-template-columns: repeat(1, 100%);
    gap: 5%;
  }

  .card {
    margin-top: 2rem;
  }

  .card:nth-child(2) {
    margin-top: 2rem;
  }

  .image {
    width: 100%;
    height: auto;
  }

  .card:nth-child(2) .fp-cardtext,
  .card:nth-child(4) .fp-cardtext {
    text-align: center;
  }
}

