
.container {
   /* background-image: url("https://htmlcolorcodes.com/assets/images/html-color-codes-color-tutorials.jpg"); */
   box-shadow: inset 10px 5px 5px rgb(255, 1, 1);
   border-radius: 5px;
 padding-left: 0px;
 display: flex;
 justify-content: center;
 align-items: center;

 border: 3px solid rgba(196, 222, 0, 0);
}

.label{
  font-weight: bolder;
}

.textarea{
  
   height: 200px;
   width: 500px;
   border:" 1px solid black";
}



.inputField{
  width: 400px;
  border: 1px solid ;
  border-radius: 5px;
}


.categorydiv{
  width: 400px;
}

.Subcategorydiv{
  width: 400px;
}

.colorsection{
  display: flex;
  flex-direction: row;
  margin-top: 50px;
}

.texareawash{
  width:800px;
    height:100px;
     border:2px solid black
     ;border-radius: 5px;
}

.inputFieldmaterial{
  width: 400px;
  border: 1px solid ;
  border-radius: 5px;
}
/* //////////////////////////////////////////////// */

.legend {
  font-size: 24px;
  font-weight: bold;
  color: #2a08c1;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.input-wrapper {
  position: relative;
}

.input-md {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='%23333'%3E%3Cpath d='M7.8 9.4l4.6 4.6c.2.2.5.2.7 0l4.6-4.6c.4-.4.2-1.1-.3-1.4L10.3 3c-.4-.4-1-.4-1.4 0L3.4 8c-.4.4-.6 1-.3 1.4l4.7 4.7c.3.4 1 .4 1.4 0zm0 0'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 14px 14px;
  padding-right: 30px;
}



.input-file {
  display: none;
}

.btn {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  background-color: #337ab7;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


.image-box {
  display: inline-block;
  margin-right: 10px;
}

.preview-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border: 1px solid #ccc;
}

.sizeButtons {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
 
}

.sizeContainer {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex: 0 0 100px;
  margin: 10px;

}

.sizeButton {

width: 20%;
  /* Add your size button styles */
}

.blue {
  border-radius: 5px;
  background-color: rgb(148, 151, 144);
  display: flex;
  flex-direction: row;
}


.quantityInput {
  width: 20%;
}
.imgeupload{
  width: '300px';
  height: '100%';
  border: '2px solid #ccc';
  border-radius: '5px';
  background-color: '#f8f8f8';
  color: '#333';
  padding: '5px';
}
.respo{
  display: flex;
flex-direction: row;

}

/* @media only screen and (max-width: 518px) {

.respo{
  display: flex;
flex-direction: column;

}

 
 } */
/* Example media query for screens up to 768px wide */
@media only screen and (max-width: 768px) {
  .container {
    flex-direction: column; /* Stack items vertically on small screens */
    align-items: center;
  }
  .respo{
    display: flex;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;  
  }
  
.label{
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
}

  .inputField {
    width: 200px;
    margin-top: 20px;
    margin-left: 0;
  }


  .texareadiv{
    width:'100px';
    height:'100px';
  }
  .textarea{
    display: flex;
    justify-content: center;
    align-items: center;
    width:300px;
    height: 200px;
    border: 1px solid
  }
  .categorydiv{
    width: 200px;
    margin: auto;
  }
  .Subcategorydiv{
    width: 200px;
    margin: auto;
    margin-left: 75px;
  }
  .sizeselect{
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 170px;
  }
  .colorsection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
  .texareawash{
    width:300px;
      height:200px;
       border:1px solid
  }

  .inputFieldmaterial{
    width: 200px;
    border: 1px solid ;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: centery;
  }
}




/* -------------latest------------- */

.headingdiv{
  width: 100%;
height: 70px;

}
.headingText{
  font-weight: bold;
  margin-right: 1000px;
  margin-top: 10px;
}
.maindiv{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  background-color: rgb(247, 251, 255);
}
.mainone{
  margin-left: 100px;
   width: 50%;
background-color: rgb(247, 251, 255);
}
.maintwo{
  width: 50%;
  background-color: rgb(247, 251, 255);
}
.inputDiv{
  display: flex;
  flex-direction: column;
  width: 1000px;
}
.inputField{
  text-indent: 10px;
}


@media only screen and (max-width: 600px) {
  .maindiv{
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      background-color: rgb(247, 251, 255);
  }
}