
.sliderContainer {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 20px;
  }
  
  .card {

    display: flex;
    flex-direction: column;
    width: 16rem;
    margin-left: 1.2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color:#fff;
    height: 400px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(168, 163, 163, 0.878);
    
  }
  .bg{
    background-color: #fff;
    margin-top: 1rem;
  
  }
  .igfff{
    width: 20rem;
    height: 20rem;

    object-fit: cover;
  }
  /* .card img {
    display: block;
    margin: 0 auto;
    width: 15.9rem;
    height: 19rem;
    border-radius: 0.6rem;
  } */
  .seeMore{
    background-color: #e3272a; 
    border: none;
    color: rgb(253, 253, 253);
    padding: 15px 32px;
    border-radius: 2rem;
    margin-bottom: 0.5rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 35rem;
    
  }
  .titlee{
    font-size: 16px;
    font-weight: 400;
    margin-left:2rem
  }
  .title{
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
    margin-top: -6rem;
    margin-left:2rem;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden


    /* font-weight:lighter */
    ;
  
  }
  @media only screen and (max-width: 768px) {

  
    .card img {
      height: 25rem;
      border-radius: 10px 10px 0 0;
    }
  }
  @media only screen and (max-width: 589px) {
    .card {
      width: 15.26rem;
    }
  
    .card img {
      height: 20rem;
      width: 15rem;
      border-radius: 10px 10px 0 0;
    }
    .seeMore{
      margin-left: 10rem;
      background-color: #e3272a; /* Green */
      border: none;
      color: rgb(253, 253, 253);
      padding: 15px 32px;
      border-radius: 2rem;
      margin-bottom: 0.5rem;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
    }
    .title{
      margin-left: 0.5rem;
      margin-bottom: 0.5rem;
      margin-top: -6rem;
      margin-left:2rem;
      font-weight: 600;
      overflow: hidden;
      white-space: nowrap;


  
  
      /* font-weight:lighter */
      ;
    
    }
    .titlee{
      font-size: 16px;
      font-weight: 400;
      margin-left:2rem;
      white-space: nowrap;
      overflow: hidden;

    }

  }
  .card h2 {
    font-size: 24px;
    margin-top: 20px;
  }
  
  .card p {
    font-size: 16px;
    margin-top: 10px;
  }
  

  .control-btn button {
    background: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 3px 6px rgb(0 0 0 / 16%);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    padding: 2px;
  }
  
  .control-btn .next {
    position: absolute;
    top: 40%;
    right: 20px;
  }
  
  .control-btn .prev {
    position: absolute;
    top: 40%;
    left: 20px;
    z-index: 99;
  }
  .control-btn .icon {
    font-size: 25px;
  }
  
  .prices{
    margin-left: 0.5rem;
    margin-top: -1rem;

    
  }
  
  .description{
    margin-top: -.7rem;
    margin-left: 0.5rem;
    overflow: hidden;
  }
  .marbtm{
    margin-bottom: 6rem;
  }
  
.mage{   
   height: 5rem
  }
  
  