/* .box1{
    height: 300px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 10px 5px 10px  #ff08ce;
    margin-top: 50px;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.inputbox{
    background-color: green;
    color: red;
}
.otpinput{
    background-color: yellow;
    color: red;
} */
.main {
    height: 400px;
    width: 500px;
    background-color: whitesmoke;
    margin: auto;
    justify-content: center;
    text-align: center;
    margin-top: 100px;
  }
  .input {
    border-bottom: double;
    margin-top: 5%;
    width: 300px;
    border-radius: 5px;
    color: black;
  }
  .button {
    background-color: lightblue;
    width: 200px;
    height: 50px;
  
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 30px;
    border-radius: 10px;
  }
  .one{
    width: 500px;
  }
  @media (max-width: 768px) {
    .main {
      width: 90%; 
    }
  
    .input {
      width: 90%; 
    }
  
    .button {
      width: 90%; 
    }
  }